.service-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33%;
}

.service__img {
  width: 320px;
  height: 320px;
  display: block;
  margin: 0 auto;
}

.service__title {
  font-size: 24px;
  font-weight: 800;
}

.service__description {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
